* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dancing Script", cursive;
  overflow-x: hidden;
  background: #000;
  color: #fff;
}

#root {
  width: 100%;
  min-height: 100vh;
}
